@import "tailwindcss";

@keyframes like-pop {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.animate-like {
  animation: like-pop 0.3s ease-in-out;
}
